
<html>

  <%= render "nav_header", show_all: true %>
  
  <div>
    <%= form_tag(images_path, method: :get) do %>
    <%= text_field_tag :tag, params[:tag] %>
    <%= submit_tag 'Search', name: nil %>
    <% end %>
  </div>

  <body>
    <% if @images.empty? %>
      <p id="emptySearch"> No images to display. </p>
    <% else %>
      <% rev_images = @images.reverse %>
      <% rev_images.each_slice(3).each do |image_group| %> 
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row"> 
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm"> 
                  <% image_group.each do |img| %>
                    <%= link_to image_tag(img.image_url, class: "card-img-top", width: 400), img %>
                    <div id="tags">
                      <% image.tag_list.each do |tag| %>
                      <% tag %>
                      <%= link_to tag, images_path(tag: tag) %>
                      <% end %>
                    </div>
                  <% end %>
              </div> 
            </div>
          </div> 
        </div>
      </div>
  <% end %>
  </body>

  <%= render "footer" %>
</html>
