<html>
  <%= render "nav_header", show_all: true %>

  <div>
    <%= form_tag(images_path, method: :get) do %>
    <%= text_field_tag :tag, params[:tag] %>
    <%= submit_tag 'Search', name: nil %>
    <% end %>
  </div>
  <body>
    <% rev_images = @images.reverse %>
    <% rev_images.each_slice(3).each do |image_group| %> 
    <div class="album py-5">
      <div class="container">
        <div class="row"> 
          <% if image_group[0].present? then %>
            <%= render "image_card", img: image_group[0] %>
          <% end %>
          <% if image_group[1].present? then %>
            <%= render "image_card", img: image_group[1] %>
          <% end %>
          <% if image_group[2].present? then %>
            <%= render "image_card", img: image_group[2] %>
          <% end %>
        </div> 
      </div>
    </div>
  <% end %>
  <%= render "footer" %>
  </body>
</html>
