<h1 id="header">
  Stored Images
</h1>

<div>
<%= form_tag(images_path, method: :get) do %>
  <%= text_field_tag :tag, params[:tag] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
</div>

<% if @images.empty? %>
    <p id="emptySearch"> No images to display. </p>
<% else %>
  <section> 
    <table> 
      <tbody> 
      <% @images.reverse_each do |image| %> 
      <tr> 
        <td> 
          <%= link_to image_tag(image.image_url, width: 400), image %> 
          <br>
          <% image.tag_list.each do |tag| %>
          <% tag %>
          <%= link_to tag, images_path(tag: tag) %>
          <% end %></p>
        </td> 
      </tr> 
      <% end %> 
      </tbody> 
    </table> 
  </section>
<% end %>


<div class="field">
  <div class="control">
    <%= link_to 'New Image', new_image_path, class: 'button is-primary' %>
  </div>
</div>
