<html>
<<<<<<< HEAD
  <%= render "nav_header" , new_image: true %>
  <body>
  <% if @image&.errors&.any? %>
      <div id="error_explanation">
        <% @image.errors.messages[:image_url].each do |msg| %>
            <div>
              <%= msg %>
            </div>
        <% end %>
      </div>
  <% end %>

=======

  <%= render "nav_header" , new_image: true %>

  <body>
>>>>>>> lt - clean up the index.html file (code review feedback)
    <div class="container">
      <section class="image-form">
        <%= bootstrap_form_for(@image) do |form| %> 
          <%= form.text_field :image_url, label: "Image URL:" %> 
          <%= form.submit value: "Upload Image", class: "btn btn-secondary" %> 
<<<<<<< HEAD
          <%= form.text_field :tag_list, label: "Add Tags:" %>
          <%= form.submit value: "Add Tag(s)", class: btn btn-secondary" %>
        <% end %>
      </section>
    </div>
    <%= render "footer" %>
  </body>

=======
        <% end %>
      </section>
    </div>
  </body>

  <%= render "footer" %>
>>>>>>> lt - clean up the index.html file (code review feedback)
</html>
