<html>
<<<<<<< HEAD
  <%= render "nav_header" %>
=======
    <%= render "nav_header" %>
>>>>>>> lt - clean up the index.html file (code review feedback)

  <body>
    <div class="container one-image">
      <%= image_tag(@image.image_url) %>
      <% @image.tag_list.each do |tag| %>
          <%= tag %>
      <% end %>
    </div>
  </body>

<<<<<<< HEAD
  <%= render "footer" %>
=======
    <%= render "footer" %>
>>>>>>> lt - clean up the index.html file (code review feedback)
</html>
